<html>

<body>
<div>
    <form method="post">
        <input type="text" name="sender" placeholder="Введите номер карты отправителя"/>
        <input type="text" name="recipient" placeholder="Введите номер карты получателя"/>
        <input type="text" name="amount" placeholder="Введите сумму"/>
        <button type="submit">Выполнить</button>
    </form>
</div>
<div>Список переводов</div>
{{#transactions}}
    <div>
        <b>{{id}}</b>
        <b>{{sender}}</b>
        <b>{{recipient}}</b>
        <b>{{amount}}</b>
    </div>
{{/transactions}}
</body>
</html>