<html>
<head>
    <!--<title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>-->
</head>
<body>
<div>
    <from method="post">
        <input type="text" name="sender" placeholder="Введите номер карты отправителя"/>
        <input type="text" name="recipient" placeholder="Введите номер карты получателя"/>
        <input type="text" name="amount" placeholder="Введите сумму"/>
        <button type="submit">Перевести</button>
    </from>

</div>
<div>Список переводов</div>
{{#transactions}}
    <div>
        <b>{{id}}</b>
        <span>{{sender}}</span>
        <i>{{recipient}}</i>
        <i>{{amount}}</i>
    </div>
{{/transactions}}
</body>
</html>